

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__subtitle/header__subtitle.css);
@import url(./blocks/header/__square-pic/header__square-pic.css);
@import url(./blocks/header/__main-illustration/header__main-illustration.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_place/logo_place_header.css);


@import url(./blocks/two-columns/two-columns.css);
@import url(./blocks/two-columns/__brief/two-columns__brief.css);
@import url(./blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(./blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(./blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(./blocks/section-title/section-title.css);
@import url(./blocks/section-title/__theme/section-title__theme_dark.css);
@import url(./blocks/section-subtitle/section-subtitle.css);
@import url(./blocks/section-subtitle/__theme/section-subtitle__theme_dark.css);
@import url(./blocks/table/table.css);
@import url(./blocks/table/__cell/table__cell.css);
@import url(./blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(./blocks/table/__heading/table__heading.css);
@import url(./blocks/table/__heading/_theme-dark/table__heading_theme-dark.css);
@import url(./blocks/table/__text/table__text.css);
@import url(./blocks/table/_theme/table_theme_dark.css);

@import url(./blocks/content/description/description.css);

@import url(./blocks/content/digits/digits.css);

@import url(./blocks/content/feynman/feynman.css);
@import url(./blocks/content/feynman/__image/feynman__image.css);
@import url(./blocks/content/feynman/__link/feynman__link.css); 
@import url(./blocks/content/feynman/__subtitle/feynman__subtitle.css);
@import url(./blocks/content/feynman/__title/feynman__title.css);

@import url(./blocks/content/kaufman/kaufman.css);
@import url(./blocks/content/kaufman/__triangle/kaufman__triangle.css);

@import url(./blocks/content/khan/khan.css);

@import url(./blocks/content/oakley/oakley.css);

@import url(./blocks/content/resources/recources.css);

@import url(./blocks/content/techniques/techniques.css);

@import url(./blocks/content/video/video.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/logo/_place/logo_place_footer.css);  
@import url(./blocks/footer/__column-heading/footer__column-heading.css);
@import url(./blocks/footer/__column-link/footer__column-link.css);
@import url(./blocks/footer/__column-links/footer__column-links.css);
@import url(./blocks/footer/__column/footer__column.css);
@import url(./blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(./blocks/footer/__column/_content/footer__column_content_info.css);
@import url(./blocks/footer/__column/_content/footer__column_content_social.css);
@import url(./blocks/footer/__columns/footer__columns.css);
@import url(./blocks/footer/__social-icon/footer__social-icon.css);
@import url(./blocks/animation/rotation.css);




.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  


  /*--вынести в отдельные блоки позже--*/

.cards {
      display: grid;
      max-width: 920px;
      grid-template-columns: 240px 240px 240px;
      column-gap: 100px;
      margin: 0 auto 0 auto;
  }

.cards__item {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin: 60px 100px 0 auto;
}

  .cards__image {
      width:160px;
      height: 160px;
      border-radius: 50%;
      margin: 0 40px 0 40px;
  }

.cards__title {
    display: flex;
    align-self: center;
    text-align: center;
    margin: 43px 0 16px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

  .cards__description {
    display: flex;
    align-self: center;
    width: 200px; 
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
  }

.video {
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    overflow: visible;
    padding-bottom: 100px;
}


  .video__iframes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      margin-top: 50px;
      margin-bottom:-150px;

  }

  .oakley {
        padding-top: 100px;
        background-color: #f2f2f2;
  }