@import url(../../../animation/rotation.css);

.kaufman__triangle {
  position: absolute;
  background-size: contain;
  height: 877px;
  width: 877px;
  top: 0;
  right:-210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  z-index: -1;
  animation: rotation 20s infinite linear;
} 